In [1]:
import pandas as pd
import numpy as np

In [2]:
nfl_data = pd.read_csv('../datasets/NFL Play by Play 2009-2017 (v4).csv')
nfl_data.shape

(407688, 102)

In [3]:
nfl_data.head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [4]:
missing_value_count = nfl_data.isnull().sum()

In [5]:
missing_value_count.head(10)

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

In [6]:
np.product(nfl_data.shape)

41584176

In [7]:
missing_value_count.sum()

10342875

In [8]:
(np.product(nfl_data.shape)/missing_value_count.sum())*100

402.05625611834233

In [9]:
nfl_data.dropna()

Empty DataFrame
Columns: [Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, ...]
Index: []

[0 rows x 102 columns]

In [10]:
nfl_data.dropna(axis=1)

,Date,GameID,Drive,qtr,TimeUnder,ydstogo,ydsnet,PlayAttempted,Yards.Gained,sp,...,Timeout_Indicator,Timeout_Team,posteam_timeouts_pre,HomeTimeouts_Remaining_Pre,AwayTimeouts_Remaining_Pre,HomeTimeouts_Remaining_Post,AwayTimeouts_Remaining_Post,ExPoint_Prob,TwoPoint_Prob,Season
0,2009-09-10,2009091000,1,1,15,0,0,1,39,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
1,2009-09-10,2009091000,1,1,15,10,5,1,5,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
2,2009-09-10,2009091000,1,1,15,5,2,1,-3,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
3,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
4,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407683,2017-12-31,2017123101,29,4,1,0,-4,1,0,0,...,1,BAL,0,3,0,2,0,0.0,0.0,2017
407684,2017-12-31,2017123101,29,4,1,14,-4,1,0,0,...,0,None,2,2,0,2,0,0.0,0.0,2017
407685,2017-12-31,2017123101,29,4,1,14,9,1,13,0,...,0,None,2,2,0,2,0,0.0,0.0,2017
407686,2017-12-31,2017123101,30,4,1,10,-1,1,-1,0,...,0,None,0,2,0,2,0,0.0,0.0,2017
407687,2017-12-31,2017123101,30,4,0,0,-1,1,0,0,...,0,None,0,2,0,2,0,0.0,0.0,2017

In [11]:
columns_with_na_dropped = nfl_data.dropna(axis=1)
columns_with_na_dropped.shape

(407688, 41)

In [12]:
print(nfl_data.columns.tolist())

['Date', 'GameID', 'Drive', 'qtr', 'down', 'time', 'TimeUnder', 'TimeSecs', 'PlayTimeDiff', 'SideofField', 'yrdln', 'yrdline100', 'ydstogo', 'ydsnet', 'GoalToGo', 'FirstDown', 'posteam', 'DefensiveTeam', 'desc', 'PlayAttempted', 'Yards.Gained', 'sp', 'Touchdown', 'ExPointResult', 'TwoPointConv', 'DefTwoPoint', 'Safety', 'Onsidekick', 'PuntResult', 'PlayType', 'Passer', 'Passer_ID', 'PassAttempt', 'PassOutcome', 'PassLength', 'AirYards', 'YardsAfterCatch', 'QBHit', 'PassLocation', 'InterceptionThrown', 'Interceptor', 'Rusher', 'Rusher_ID', 'RushAttempt', 'RunLocation', 'RunGap', 'Receiver', 'Receiver_ID', 'Reception', 'ReturnResult', 'Returner', 'BlockingPlayer', 'Tackler1', 'Tackler2', 'FieldGoalResult', 'FieldGoalDistance', 'Fumble', 'RecFumbTeam', 'RecFumbPlayer', 'Sack', 'Challenge.Replay', 'ChalReplayResult', 'Accepted.Penalty', 'PenalizedTeam', 'PenaltyType', 'PenalizedPlayer', 'Penalty.Yards', 'PosTeamScore', 'DefTeamScore', 'ScoreDiff', 'AbsScoreDiff', 'HomeTeam', 'AwayTeam', 'Timeout_Indicator', 'Timeout_Team', 'posteam_timeouts_pre', 'HomeTimeouts_Remaining_Pre', 'AwayTimeouts_Remaining_Pre', 'HomeTimeouts_Remaining_Post', 'AwayTimeouts_Remaining_Post', 'No_Score_Prob', 'Opp_Field_Goal_Prob', 'Opp_Safety_Prob', 'Opp_Touchdown_Prob', 'Field_Goal_Prob', 'Safety_Prob', 'Touchdown_Prob', 'ExPoint_Prob', 'TwoPoint_Prob', 'ExpPts', 'EPA', 'airEPA', 'yacEPA', 'Home_WP_pre', 'Away_WP_pre', 'Home_WP_post', 'Away_WP_post', 'Win_Prob', 'WPA', 'airWPA', 'yacWPA', 'Season']

In [13]:
subset_nfl_data = nfl_data.loc[:,'EPA':'Season']
subset_nfl_data.head()

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,NaN,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,NaN,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,NaN,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [14]:
subset_nfl_data.fillna(0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,0.000000,0.000000,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0.000000,0.000000,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,0.000000,0.000000,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.000000,0.000000,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009
...,...,...,...,...,...,...,...,...,...,...,...,...
407683,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017
407684,-0.340818,0.056697,-0.397515,0.080409,0.919591,0.050478,0.949522,0.080409,-0.029931,-0.021795,-0.008136,2017
407685,0.139913,-2.317201,2.457114,0.050478,0.949522,0.030881,0.969119,0.050478,-0.019597,-0.030603,0.011006,2017
407686,0.000000,0.000000,0.000000,0.030881,0.969119,0.000000,1.000000,0.969119,0.030881,0.000000,0.000000,2017
407687,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.999159,0.000000,0.000000,0.000000,2017

In [15]:
cleaned_subset = subset_nfl_data.fillna(method='bfill',axis=0)


# removing missing values 
 - dropping columns using dropna
 - filling NaN with any values
 - replacing data

In [16]:
nfl_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407688 entries, 0 to 407687
Columns: 102 entries, Date to Season
dtypes: float64(33), int64(31), object(38)
memory usage: 317.3+ MB

In [17]:
nfl_data.describe?

Signature: nfl_data.describe(percentiles=None, include=None, exclude=None) -> ~FrameOrSeries
Docstring:
Generate descriptive statistics.

Descriptive statistics include those that summarize the central
tendency, dispersion and shape of a
dataset's distribution, excluding ``NaN`` values.

Analyzes both numeric and object series, as well
as ``DataFrame`` column sets of mixed data types. The output
will vary depending on what is provided. Refer to the notes
below for more detail.

Parameters
----------
percentiles : list-like of numbers, optional
    The percentiles to include in the output. All should
    fall between 0 and 1. The default is
    ``[.25, .5, .75]``, which returns the 25th, 50th, and
    75th percentiles.
include : 'all', list-like of dtypes or None (default), optional
    A white list of data types to include in the result. Ignored
    for ``Series``. Here are the options:

    - 'all' : All columns of the input will be included in the output.
    - A list-like of dtypes : Limits the results to the
      provided data types.
      To limit the result to numeric types submit
      ``numpy.number``. To limit it instead to object columns submit
      the ``numpy.object`` data type. Strings
      can also be used in the style of
      ``select_dtypes`` (e.g. ``df.describe(include=['O'])``). To
      select pandas categorical columns, use ``'category'``
    - None (default) : The result will include all numeric columns.
exclude : list-like of dtypes or None (default), optional,
    A black list of data types to omit from the result. Ignored
    for ``Series``. Here are the options:

    - A list-like of dtypes : Excludes the provided data types
      from the result. To exclude numeric types submit
      ``numpy.number``. To exclude object columns submit the data
      type ``numpy.object``. Strings can also be used in the style of
      ``select_dtypes`` (e.g. ``df.describe(include=['O'])``). To
      exclude pandas categorical columns, use ``'category'``
    - None (default) : The result will exclude nothing.

Returns
-------
Series or DataFrame
    Summary statistics of the Series or Dataframe provided.

See Also
--------
DataFrame.count: Count number of non-NA/null observations.
DataFrame.max: Maximum of the values in the object.
DataFrame.min: Minimum of the values in the object.
DataFrame.mean: Mean of the values.
DataFrame.std: Standard deviation of the observations.
DataFrame.select_dtypes: Subset of a DataFrame including/excluding
    columns based on their dtype.

Notes
-----
For numeric data, the result's index will include ``count``,
``mean``, ``std``, ``min``, ``max`` as well as lower, ``50`` and
upper percentiles. By default the lower percentile is ``25`` and the
upper percentile is ``75``. The ``50`` percentile is the
same as the median.

For object data (e.g. strings or timestamps), the result's index
will include ``count``, ``unique``, ``top``, and ``freq``. The ``top``
is the most common value. The ``freq`` is the most common value's
frequency. Timestamps also include the ``first`` and ``last`` items.

If multiple object values have the highest count, then the
``count`` and ``top`` results will be arbitrarily chosen from
among those with the highest count.

For mixed data types provided via a ``DataFrame``, the default is to
return only an analysis of numeric columns. If the dataframe consists
only of object and categorical data without any numeric columns, the
default is to return an analysis of both the object and categorical
columns. If ``include='all'`` is provided as an option, the result
will include a union of attributes of each type.

The `include` and `exclude` parameters can be used to limit
which columns in a ``DataFrame`` are analyzed for the output.
The parameters are ignored when analyzing a ``Series``.

Examples
--------
Describing a numeric ``Series``.

>>> s = pd.Series([1, 2, 3])
>>> s.describe()
count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
dtype: float64

Describing a categorical ``Series``.

>>> s = pd.Series(['a', 'a', 'b', 'c'])
>>> s.describe()
count     4
unique    3
top       a
freq      2
dtype: object

Describing a timestamp ``Series``.

>>> s = pd.Series([
...   np.datetime64("2000-01-01"),
...   np.datetime64("2010-01-01"),
...   np.datetime64("2010-01-01")
... ])
>>> s.describe()
count                       3
unique                      2
top       2010-01-01 00:00:00
freq                        2
first     2000-01-01 00:00:00
last      2010-01-01 00:00:00
dtype: object

Describing a ``DataFrame``. By default only numeric fields
are returned.

>>> df = pd.DataFrame({'categorical': pd.Categorical(['d','e','f']),
...                    'numeric': [1, 2, 3],
...                    'object': ['a', 'b', 'c']
...                   })
>>> df.describe()
       numeric
count      3.0
mean       2.0
std        1.0
min        1.0
25%        1.5
50%        2.0
75%        2.5
max        3.0

Describing all columns of a ``DataFrame`` regardless of data type.

>>> df.describe(include='all')
        categorical  numeric object
count            3      3.0      3
unique           3      NaN      3
top              f      NaN      c
freq             1      NaN      1
mean           NaN      2.0    NaN
std            NaN      1.0    NaN
min            NaN      1.0    NaN
25%            NaN      1.5    NaN
50%            NaN      2.0    NaN
75%            NaN      2.5    NaN
max            NaN      3.0    NaN

Describing a column from a ``DataFrame`` by accessing it as
an attribute.

>>> df.numeric.describe()
count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
Name: numeric, dtype: float64

Including only numeric columns in a ``DataFrame`` description.

>>> df.describe(include=[np.number])
       numeric
count      3.0
mean       2.0
std        1.0
min        1.0
25%        1.5
50%        2.0
75%        2.5
max        3.0

Including only string columns in a ``DataFrame`` description.

>>> df.describe(include=[np.object])
       object
count       3
unique      3
top         c
freq        1

Including only categorical columns from a ``DataFrame`` description.

>>> df.describe(include=['category'])
       categorical
count            3
unique           3
top              f
freq             1

Excluding numeric columns from a ``DataFrame`` description.

>>> df.describe(exclude=[np.number])
       categorical object
count            3      3
unique           3      3
top              f      c
freq             1      1

Excluding object columns from a ``DataFrame`` description.

>>> df.describe(exclude=[np.object])
       categorical  numeric
count            3      3.0
unique           3      NaN
top              f      NaN
freq             1      NaN
mean           NaN      2.0
std            NaN      1.0
min            NaN      1.0
25%            NaN      1.5
50%            NaN      2.0
75%            NaN      2.5
max            NaN      3.0
File:      c:\users\archi\appdata\local\programs\python\python38\lib\site-packages\pandas\core\generic.py
Type:      method

In [18]:
nfl_data.describe(include = 'float64')

,down,TimeSecs,PlayTimeDiff,yrdln,yrdline100,GoalToGo,FirstDown,FieldGoalDistance,PosTeamScore,DefTeamScore,...,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA
count,346534.000000,407464.000000,407244.000000,406848.000000,406848.000000,406848.000000,378877.000000,8948.000000,380784.000000,380784.000000,...,159294.000000,159190.000000,382734.000000,382734.000000,381101.000000,381101.000000,382679.000000,402147.000000,159187.000000,158926.000000
mean,2.002476,1695.268944,20.576762,28.488327,48.644081,0.049134,0.290509,37.465132,10.201424,11.414484,...,0.524818,-0.386086,0.534488,0.465965,0.534791,0.465613,0.501320,0.002099,0.015135,-0.010480
std,1.006353,1062.801012,17.969326,12.946471,25.070416,0.216148,0.453998,10.282682,9.432067,9.910753,...,1.394159,1.972715,0.285574,0.285629,0.287818,0.287867,0.287445,0.045363,0.056490,0.068139
min,1.000000,-900.000000,0.000000,1.000000,1.000000,0.000000,0.000000,18.000000,0.000000,0.000000,...,-12.849594,-14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.997214,-0.999881,-0.986673
25%,1.000000,778.000000,5.000000,20.000000,30.000000,0.000000,0.000000,29.000000,2.000000,3.000000,...,-0.502895,-0.961115,0.325123,0.231411,0.321701,0.227694,0.276472,-0.014728,-0.011518,-0.018683
50%,2.000000,1800.000000,17.000000,30.000000,49.000000,0.000000,0.000000,38.000000,7.000000,10.000000,...,0.295977,0.000000,0.531274,0.469052,0.533609,0.466670,0.504470,0.000000,0.003441,0.000000
75%,3.000000,2585.000000,37.000000,39.000000,70.000000,0.000000,1.000000,46.000000,16.000000,17.000000,...,1.386486,0.485508,0.769232,0.675530,0.772882,0.678833,0.725477,0.014684,0.035792,0.011431
max,4.000000,3600.000000,943.000000,50.000000,99.000000,1.000000,1.000000,71.000000,61.000000,61.000000,...,7.346969,9.559834,1.000000,1.000000,1.000000,1.000000,1.000000,0.994848,0.994848,1.000000

## replacing values in a colunm
  - if values are numerical
    - replace values by mean (avg of other values in the same col)
    - replace values by median
    - replace values by mode (freq) when numbers are repeating
  - if values are categorical (object)
    - replace values by freq

In [19]:
nfl_data.down.value_counts()

1.0    138878
2.0    104089
3.0     67398
4.0     36169
Name: down, dtype: int64

In [20]:
value_to_replace = nfl_data.down.value_counts().idxmax()
nfl_data.down.replace(np.nan,value_to_replace,inplace=True)

In [21]:
nfl_data.describe(include='float64')

,down,TimeSecs,PlayTimeDiff,yrdln,yrdline100,GoalToGo,FirstDown,FieldGoalDistance,PosTeamScore,DefTeamScore,...,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA
count,407688.000000,407464.000000,407244.000000,406848.000000,406848.000000,406848.000000,378877.000000,8948.000000,380784.000000,380784.000000,...,159294.000000,159190.000000,382734.000000,382734.000000,381101.000000,381101.000000,382679.000000,402147.000000,159187.000000,158926.000000
mean,1.852103,1695.268944,20.576762,28.488327,48.644081,0.049134,0.290509,37.465132,10.201424,11.414484,...,0.524818,-0.386086,0.534488,0.465965,0.534791,0.465613,0.501320,0.002099,0.015135,-0.010480
std,0.994467,1062.801012,17.969326,12.946471,25.070416,0.216148,0.453998,10.282682,9.432067,9.910753,...,1.394159,1.972715,0.285574,0.285629,0.287818,0.287867,0.287445,0.045363,0.056490,0.068139
min,1.000000,-900.000000,0.000000,1.000000,1.000000,0.000000,0.000000,18.000000,0.000000,0.000000,...,-12.849594,-14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.997214,-0.999881,-0.986673
25%,1.000000,778.000000,5.000000,20.000000,30.000000,0.000000,0.000000,29.000000,2.000000,3.000000,...,-0.502895,-0.961115,0.325123,0.231411,0.321701,0.227694,0.276472,-0.014728,-0.011518,-0.018683
50%,2.000000,1800.000000,17.000000,30.000000,49.000000,0.000000,0.000000,38.000000,7.000000,10.000000,...,0.295977,0.000000,0.531274,0.469052,0.533609,0.466670,0.504470,0.000000,0.003441,0.000000
75%,3.000000,2585.000000,37.000000,39.000000,70.000000,0.000000,1.000000,46.000000,16.000000,17.000000,...,1.386486,0.485508,0.769232,0.675530,0.772882,0.678833,0.725477,0.014684,0.035792,0.011431
max,4.000000,3600.000000,943.000000,50.000000,99.000000,1.000000,1.000000,71.000000,61.000000,61.000000,...,7.346969,9.559834,1.000000,1.000000,1.000000,1.000000,1.000000,0.994848,0.994848,1.000000

In [22]:
avg_time_secs=nfl_data.TimeSecs.mean()
nfl_data.TimeSecs.replace(np.nan,avg_time_secs,inplace=True)

In [25]:
nfl_data.TimeSecs.shape

(407688,)

In [27]:
avg_play_time_diff=nfl_data.PlayTimeDiff.mean()
nfl_data.PlayTimeDiff.replace(np.nan,avg_play_time_diff,inplace=True)
nfl_data.PlayTimeDiff.shape

(407688,)

In [71]:
yrdln_md=nfl_data.yrdln.median()
nfl_data.yrdln.replace(np.nan,yrdln_md,inplace=True)
nfl_data.yrdln.shape

(407688,)

In [31]:
avg_yrdline100	= nfl_data.yrdline100.mean()
nfl_data.yrdline100.replace(np.nan,avg_yrdline100,inplace=True)
nfl_data.yrdline100	.shape

(407688,)

In [36]:
Goal_replace = nfl_data.GoalToGo.value_counts().idxmax()
nfl_data.GoalToGo.replace(np.nan,Goal_replace,inplace=True)
nfl_data.GoalToGo.shape

(407688,)

In [38]:
First_Down_replace = nfl_data.FirstDown.value_counts().idxmax()
nfl_data.GoalToGo.replace(np.nan,First_Down_replace,inplace=True)
nfl_data.FirstDown.shape

(407688,)

In [39]:
Field_replace = nfl_data.FieldGoalDistance.value_counts().idxmax()
nfl_data.FieldGoalDistance.replace(np.nan,Field_replace,inplace=True)
nfl_data.FieldGoalDistance.shape

(407688,)

In [43]:
Pos_replace = nfl_data.PosTeamScore.median()
nfl_data.PosTeamScore.replace(np.nan,Pos_replace,inplace=True)
nfl_data.PosTeamScore.shape

(407688,)

In [49]:
Def_replace = nfl_data.PosTeamScore.mean()
nfl_data.DefTeamScore.replace(np.nan,Def_replace,inplace=True)
nfl_data.DefTeamScore.shape

(407688,)

In [53]:
avg_air = nfl_data.airEPA.mean()
nfl_data.airEPA.replace(np.nan,avg_air,inplace=True)
nfl_data.airEPA.shape

(407688,)

In [55]:
yac_replace = nfl_data.yacEPA.value_counts().idxmin()
nfl_data.yacEPA.replace(np.nan,yac_replace,inplace=True)
nfl_data.yacEPA.shape

(407688,)

In [60]:
home_replace = nfl_data.Home_WP_pre.value_counts().idxmin()
nfl_data.Home_WP_pre.replace(np.nan,home_replace,inplace=True)
nfl_data.Home_WP_pre.shape

(407688,)

In [64]:
First_replace = nfl_data.FirstDown.value_counts().idxmin()
nfl_data.FirstDown.replace(np.nan,First_replace,inplace=True)
nfl_data.FirstDown.shape

(407688,)

In [74]:
nfl_data.describe(include='float64').columns

Index(['down', 'TimeSecs', 'PlayTimeDiff', 'yrdln', 'yrdline100', 'GoalToGo',
       'FirstDown', 'FieldGoalDistance', 'PosTeamScore', 'DefTeamScore',
       'ScoreDiff', 'AbsScoreDiff', 'No_Score_Prob', 'Opp_Field_Goal_Prob',
       'Opp_Safety_Prob', 'Opp_Touchdown_Prob', 'Field_Goal_Prob',
       'Safety_Prob', 'Touchdown_Prob', 'ExPoint_Prob', 'TwoPoint_Prob',
       'ExpPts', 'EPA', 'airEPA', 'yacEPA', 'Home_WP_pre', 'Away_WP_pre',
       'Home_WP_post', 'Away_WP_post', 'Win_Prob', 'WPA', 'airWPA', 'yacWPA'],
      dtype='object')

In [77]:
Away_replace = nfl_data.Away_WP_pre.value_counts().idxmin()
nfl_data.Away_WP_pre.replace(np.nan,Away_replace,inplace=True)
nfl_data.Away_WP_pre.shape

(407688,)

In [78]:
Awayp_replace = nfl_data.Away_WP_post.value_counts().idxmin()
nfl_data.Away_WP_post.replace(np.nan,Awayp_replace,inplace=True)
nfl_data.Away_WP_post.shape

(407688,)

In [79]:
Win_replace = nfl_data.Win_Prob.value_counts().idxmin()
nfl_data.Win_Prob.replace(np.nan,Win_replace,inplace=True)
nfl_data.Win_Prob.shape

(407688,)

In [80]:
WPA_replace = nfl_data.WPA.value_counts().idxmin()
nfl_data.WPA.replace(np.nan,WPA_replace,inplace=True)
nfl_data.WPA.shape

(407688,)

In [81]:
airWPA_replace = nfl_data.airWPA.value_counts().idxmin()
nfl_data.airWPA.replace(np.nan,airWPA_replace,inplace=True)
nfl_data.airWPA.shape

(407688,)

In [82]:
yacWPA_replace = nfl_data.yacWPA.value_counts().idxmin()
nfl_data.yacWPA.replace(np.nan,yacWPA_replace,inplace=True)
nfl_data.yacWPA.shape

(407688,)

In [83]:
nfl_data.describe(include='float64')

,down,TimeSecs,PlayTimeDiff,yrdln,yrdline100,GoalToGo,FirstDown,FieldGoalDistance,PosTeamScore,DefTeamScore,...,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA
count,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,...,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000
mean,1.852103,1695.268944,20.576762,28.488327,48.644081,0.049033,0.340648,47.768779,9.990157,11.320491,...,0.524818,-2.182910,0.527224,0.464765,0.564828,0.462604,0.517641,0.002115,-0.025975,0.001263
std,0.994467,1062.508999,17.959538,12.933126,25.044576,0.215936,0.473928,2.168600,9.150121,9.584683,...,0.871459,1.894151,0.278155,0.276789,0.300616,0.278555,0.285713,0.045054,0.048255,0.043566
min,1.000000,-900.000000,0.000000,1.000000,1.000000,0.000000,0.000000,18.000000,0.000000,0.000000,...,-12.849594,-14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.997214,-0.999881,-0.986673
25%,1.000000,779.000000,5.000000,20.000000,30.000000,0.000000,0.000000,48.000000,3.000000,3.000000,...,0.524818,-3.333971,0.347561,0.251498,0.345892,0.249282,0.293279,-0.014439,-0.052309,0.004059
50%,2.000000,1800.000000,17.000000,30.000000,49.000000,0.000000,0.000000,48.000000,7.000000,9.990157,...,0.524818,-3.333971,0.511398,0.446361,0.560803,0.439516,0.525956,0.000000,-0.052309,0.008766
75%,3.000000,2584.000000,37.000000,39.000000,70.000000,0.000000,1.000000,48.000000,16.000000,17.000000,...,0.524818,-0.000632,0.749052,0.652947,0.832873,0.654679,0.767376,0.014243,-0.003159,0.008766
max,4.000000,3600.000000,943.000000,50.000000,99.000000,1.000000,1.000000,71.000000,61.000000,61.000000,...,7.346969,9.559834,1.000000,1.000000,1.000000,1.000000,1.000000,0.994848,0.994848,1.000000

In [85]:
score_replace = nfl_data.ScoreDiff.value_counts().idxmax()
nfl_data.ScoreDiff.replace(np.nan,score_replace,inplace=True)
nfl_data.ScoreDiff.shape

(407688,)

In [90]:
Abs_avg = nfl_data.AbsScoreDiff.mean()
nfl_data.AbsScoreDiff.replace(np.nan,Abs_avg,inplace=True)
nfl_data.AbsScoreDiff.shape

(407688,)

In [92]:
No_score_avg = nfl_data.No_Score_Prob.mean()
nfl_data.No_Score_Prob.replace(np.nan,No_score_avg,inplace=True)
nfl_data.No_Score_Prob.shape

(407688,)

In [93]:
opp_avg = nfl_data.Opp_Field_Goal_Prob.mean()
nfl_data.Opp_Field_Goal_Prob.replace(np.nan,opp_avg,inplace=True)
nfl_data.Opp_Field_Goal_Prob.shape

(407688,)

In [94]:
safety_avg = nfl_data.Opp_Safety_Prob.mean()
nfl_data.Opp_Safety_Prob.replace(np.nan,safety_avg,inplace=True)
nfl_data.Opp_Safety_Prob.shape

(407688,)

In [95]:
touchdown_avg = nfl_data.Opp_Touchdown_Prob.mean()
nfl_data.Opp_Touchdown_Prob.replace(np.nan,touchdown_avg,inplace=True)
nfl_data.Opp_Touchdown_Prob.shape

(407688,)

In [97]:
Field_Goal_replace = nfl_data.Field_Goal_Prob.value_counts().idxmax()
nfl_data.Field_Goal_Prob.replace(np.nan,Field_Goal_replace,inplace=True)
nfl_data.Field_Goal_Prob.shape

(407688,)

In [100]:
safety_replace = nfl_data.Safety_Prob.value_counts().idxmax()
nfl_data.Safety_Prob.replace(np.nan,safety_replace,inplace=True)
nfl_data.Safety_Prob.shape

(407688,)

In [101]:
td_replace = nfl_data.Touchdown_Prob.value_counts().idxmax()
nfl_data.Touchdown_Prob.replace(np.nan,td_replace,inplace=True)
nfl_data.Touchdown_Prob.shape

(407688,)

In [103]:
ExPoint_replace = nfl_data.ExPoint_Prob.value_counts().idxmax()
nfl_data.ExPoint_Prob.replace(np.nan,ExPoint_replace,inplace=True)
nfl_data.ExPoint_Prob.shape

(407688,)

In [104]:
TwoPoint_replace = nfl_data.TwoPoint_Prob.value_counts().idxmax()
nfl_data.TwoPoint_Prob.replace(np.nan,TwoPoint_replace,inplace=True)
nfl_data.TwoPoint_Prob.shape

(407688,)

In [107]:
ExpPts_replace = nfl_data.ExpPts.value_counts().idxmax()
nfl_data.ExpPts.replace(np.nan,ExpPts_replace,inplace=True)
nfl_data.ExpPts.shape

(407688,)

In [108]:
nfl_data.describe(include='float64')

,down,TimeSecs,PlayTimeDiff,yrdln,yrdline100,GoalToGo,FirstDown,FieldGoalDistance,PosTeamScore,DefTeamScore,...,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA
count,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,...,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000,407688.000000
mean,1.852103,1695.268944,20.576762,28.488327,48.644081,0.049033,0.340648,47.768779,9.990157,11.320491,...,0.524818,-2.182910,0.527224,0.464765,0.564828,0.462604,0.517641,0.002115,-0.025975,0.001263
std,0.994467,1062.508999,17.959538,12.933126,25.044576,0.215936,0.473928,2.168600,9.150121,9.584683,...,0.871459,1.894151,0.278155,0.276789,0.300616,0.278555,0.285713,0.045054,0.048255,0.043566
min,1.000000,-900.000000,0.000000,1.000000,1.000000,0.000000,0.000000,18.000000,0.000000,0.000000,...,-12.849594,-14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.997214,-0.999881,-0.986673
25%,1.000000,779.000000,5.000000,20.000000,30.000000,0.000000,0.000000,48.000000,3.000000,3.000000,...,0.524818,-3.333971,0.347561,0.251498,0.345892,0.249282,0.293279,-0.014439,-0.052309,0.004059
50%,2.000000,1800.000000,17.000000,30.000000,49.000000,0.000000,0.000000,48.000000,7.000000,9.990157,...,0.524818,-3.333971,0.511398,0.446361,0.560803,0.439516,0.525956,0.000000,-0.052309,0.008766
75%,3.000000,2584.000000,37.000000,39.000000,70.000000,0.000000,1.000000,48.000000,16.000000,17.000000,...,0.524818,-0.000632,0.749052,0.652947,0.832873,0.654679,0.767376,0.014243,-0.003159,0.008766
max,4.000000,3600.000000,943.000000,50.000000,99.000000,1.000000,1.000000,71.000000,61.000000,61.000000,...,7.346969,9.559834,1.000000,1.000000,1.000000,1.000000,1.000000,0.994848,0.994848,1.000000